@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

main {
    padding: 16px;
}

footer {
    padding: 24px 0px;
    background-color: rgb(255, 196, 196);
    bottom: 0;
    position: fixed;
    width: 100%;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    border-bottom: 1px solid black;
    background-color: rgb(255, 196, 196);
    color: rgb(243, 85, 143);
    margin: 1px;
    padding: 20px;
}

img {
    width: 200px;
    height: auto;
    margin-left: 0px;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: firebrick;
}


.recipe-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


tbody > tr:nth-child(even) {
    background-color: rgba(250, 128, 114, 0.473);
}
